.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev-icon {
  background-color: black;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.my_h1 {
  font-size: 1rem;
}

.my_p {
  font-size: larger;
}

.my_li a {
  text-decoration: none;
  color: black;
}

.my_li a:hover {
  color: black;
  text-decoration: none;
}

.my_map {
  padding: 0;
  margin: 0%;
  height: 400px;
  width: 100%;
}

.my_nav {
  width: 100%;
  background-color: #a2d2ff;
  color: black;
}

.my_bg {
  width: 2200px;
  height: 600px;
}

.card_wrapper {
  height: 450px;
}

.card_wrapper1 {
  height: 380px;
  width: 350px;
}
