.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.my_h1 {
    font-size: center;
}

.my_p {
    font-size: larger;
}

.my_li a {
    text-decoration: none;
    color: black;
}

.my_li a:hover {
    color: rgb(3, 30, 121);
    text-decoration: none;
}

.my_map {
    padding: 0;
    margin: 0%;
    height: 650px;
    width: 100%;
}

.my_nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

.my_bg {
    width: 2200px;
    height: 600px;
}

.card {
    background-color: #f7f7f7;
}
.card_wrapper {
    height: 400px;
}

.branch_card {
    height: 300px;
    margin-bottom: 1rem;
}

.card_wrapper1 {
    height: 380px;
    width: 350px;
}

.card_wrapper2 {
    height: 200px;
    width: 300px;
}
.contact_wrapper2 {
    height: 250px;
    width: 400px;
}

.feature_card {
    height: 300px;
}

/* for desktop */
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}
/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {
    .CustomSocial a {
        padding: 10px;
    }
}

@media screen and (max-width: 1550px) {
    .contact_wrapper2 {
        flex-direction: row;
        height: 300px;
        width: 250px;
    }
}

@media screen and (max-width: 750px) {
    .contact_wrapper2 {
        flex-direction: row;
        height: 300px;
        width: 280px;
    }
}

@media screen and (max-width: 750px) {
    .contact_wrapper2 {
        flex-direction: row;
        height: 300px;
        width: 280px;
    }
}

@media screen and (max-width: 750px) {
    .branch_card {
        height: 280px;
    }
}

@media screen and (min-width: 750px) {
    .branch_card {
        height: 300px;
    }
}

@media screen and (min-width: 1150px) {
    .branch_card {
        height: 350px;
    }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar > ul > li {
    position: relative;
    white-space: nowrap;
    margin: 0 5px;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: rgb(5, 31, 126);
}

.nav-header {
    background: linear-gradient(to bottom right, #ffcc66 0%, #ffcccc 100%);
}

.nav-button {
    background: linear-gradient(to bottom right, #ffcc66 0%, #ffcccc 100%);
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 15, 15, 0.9);
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: black;
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #282828;
}
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #009961;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #009961;
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

.custom_hr {
    width: 95px;
    border: 0;
    height: 1px;
    color: rgb(128, 10, 10);
}

.custom_hr1 {
    width: 120px;
    border: 0;
    height: 1px;
    color: rgb(128, 10, 10);
}

.custom_hr2 {
    width: 70px;
    border: 0;
    height: 1px;
    color: rgb(128, 10, 10);
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #2c97a5;
    background: #f8f8f8;
}
.pricing h4 {
    font-size: 36px;
    color: #5846f9;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}
.pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}
.pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
.pricing ul li {
    padding-bottom: 16px;
}
.pricing ul i {
    color: #5846f9;
    font-size: 18px;
    padding-right: 4px;
}
.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .featured h3 {
    color: black;
    background: #ffccb1;
}
/* -----------------------------
feature
-------------------------------------- */
.feature .info-box{
    width: 290px;
    height: 200px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 70px 20px 15px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.services .icon-box:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, #ffcc66 0%, #ffcccc 100%);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
  
.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
}
.services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}
.services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
}
.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 20px;
}
.services .icon-box h4 a {
    color: #2c4964;
    transition: ease-in-out 0.3s;
}
.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.services .iconbox-blue i {
    color: #47aeff;
}
.services .iconbox-blue:hover .icon i {
    color: #fff;
}
.services .iconbox-blue:hover .icon path {
    fill: #47aeff;
}
.services .iconbox-orange i {
    color: #ffa76e;
}
.services .iconbox-orange:hover .icon i {
    color: #fff;
}
.services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
}
.services .iconbox-pink i {
    color: #e80368;
}
.services .iconbox-pink:hover .icon i {
    color: #fff;
}
.services .iconbox-pink:hover .icon path {
    fill: #e80368;
}
.services .iconbox-yellow i {
    color: #ffbb2c;
}
.services .iconbox-yellow:hover .icon i {
    color: #fff;
}
.services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
}
.services .iconbox-red i {
    color: #ff5828;
}
.services .iconbox-red:hover .icon i {
    color: #fff;
}
.services .iconbox-red:hover .icon path {
    fill: #ff5828;
}
.services .iconbox-teal i {
    color: #11dbcf;
}
.services .iconbox-teal:hover .icon i {
    color: #fff;
}
.services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
}

.custom_h1 {
    font-size: 3px;
    padding: 32px 0;
    text-align: center;
}

.contact .info-box {
    color: #444444;
    text-align: center;
    /* box-shadow: 0 0 30px rgba(98, 102, 107, 0.6); */
    padding: 20px 0 30px 0;
    background: #fff;
}
.contact .info-box i {
    font-size: 32px;
    color: #5846f9;
    border-radius: 50%;
    padding: 8px;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
}
.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
/* Notice Section */
.b-example-divider {
    flex-shrink: 0;
    width: 69.7rem;
    height: 5vh;
    background-color: rgb(255, 255, 255);
}

.carousel {
    padding-top: 90px;
}
@media screen and (max-width: 600px) {
    .carousel {
        padding-top: 107px;
    }
}
@media screen and (max-width: 600px) {
    .carousel-control-next-icon {
        margin-top: 90px;
    }
}
@media screen and (max-width: 600px) {
    .carousel-control-prev-icon {
        margin-top: 90px;
    }
}
.padding {
    padding-top: 67px;
}

.notice .section-title h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 4px;
    margin-top: 10px;
    margin-left: 48%;
    background: rgb(15, 95, 6);
    bottom: 10;
}
